.container {
  margin-top: 9rem;
  display: flex;
  flex-direction: row;
  color: white;
  animation: fadeIn 1.1s ease-in forwards; /* Use forwards to maintain the final state */
  font-family: 'Archivo Narrow', serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Start fully transparent */
  }
  100% {
    opacity: 1; /* End fully opaque */
  }
}

.analogClockContainer {
  padding-left: 3rem;
}

.dateContainer {
  display: flex;
  flex-direction: column;
  margin-left: 3.0rem;
}

.hijriDate {
  font-size: 10.5rem;
  font-weight: bold;
}

.gregorianDay {
  color: white;
  font-size: 11.5rem;
  font-weight: bold;
  margin-bottom: -2.5rem;
}

.gregorianDate {
  font-size: 10.5rem;
  font-weight: bold;
}

$small: 1440px;
$medium: 1441px;
@media screen and (min-width: $small) and (max-width: $medium) {
  .container {
    margin-top: 3rem;
  }

  .dateContainer {
    display: flex;
    flex-direction: column;
     font-size: 5.0rem;
     margin-left: 5rem;
  }
  
  .hijriDate {
    font-size: 5rem;
    font-weight: bold;
  }
  
  .gregorianDay {
    color: white;
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: -1.5rem;
  }
  
  .gregorianDate {
    font-size: 5rem;
    font-weight: bold;
  }
}