.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  animation: fadeIn 1.1s ease-in forwards; /* Use forwards to maintain the final state */
  font-family: 'Archivo Narrow', serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Start fully transparent */
  }
  100% {
    opacity: 1; /* End fully opaque */
  }
}

.mosqueName {
  font-size: 3.1rem;
  border-bottom: 1px solid rgb(68, 164, 216);
  margin-bottom: 1rem;
}

.dateContainer {
  display: flex;
  flex-direction: column;
   font-size: 5.0rem;
   margin-left: 1.0rem;
}

.hijriDate {
  font-weight: bold;
}

.gregorianDate {
  font-weight: bold;
}

.memoCurrTime {
  min-width: 777px;
  padding: 1rem;
  font-size: 3rem;
  text-align: center;
  font-family: monospace;
  border: 3px solid red;
}

.caligraphy {
  margin-left: -1rem;
}

.caligraphyImg {
  width: 735px;
  height: auto;
}
