.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Archivo Narrow', serif;
}

.iqamahContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.beginPrayerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.countdown {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.safTitle {
  font-size: 5.7rem;
  font-weight: bold;
}

.iqamahMessage {
  display: flex;
  align-items: center;
  font-size: 11.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.safMessage {
  margin-top: 9rem;
  font-size: 11.5rem;
  font-weight: bold;
}

$small: 1440px;
$medium: 1441px;
@media screen and (min-width: $small) and (max-width: $medium) {
  .iqamahMessage {
    font-size: 5rem;
  }
  .safMessage {
    font-size: 5rem;
  }
}
