.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f6fa;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  min-height: 200px;
}

.topBorder {
  position: absolute;
  top: -18px; // Move the border up by its height
  left: 0;
  right: 0;
  height: 20px; // Adjust this value based on your dome image height
  // background-image: url('../../assets/images/dome.png');
  background-repeat: repeat-x;
  background-size: auto 100%;
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
}

.testModeIndicator {
  font-size: 0.8em;
  color: #ff0000;
  margin-left: 10px;
}

.horizontalContainer {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 2.0rem;
}

.prayerBoxWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.prayerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prayerName {
  font-weight: bold;
  font-size: 1em;
}

.prayerTime {
  font-size: 1.5em;
}

.borderImageWrapper {
  height: 155px;
  display: flex;
  align-items: center;
  // opacity: 0.9;
  margin: -1rem;
}

.borderImage {
  height: 100%;
  width: auto;
}

.clock {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Archivo Narrow', serif;
  // color: #273c75;
  color: black;
}

.clockTime {
   font-size: 6.5rem;
   font-weight: bold;
   display: flex;
   flex-direction: row;
   margin-bottom: -1rem;
   margin-top: -1rem;
}

.clockDate {
  font-size: 3.3rem;
  font-weight: bold;
 }

 .blinkingSeparator {
  margin-top: -0.3rem;
  animation: heartbeatOpacity 1.3s infinite;
}

@keyframes heartbeatOpacity {
  0%, 100% {
    opacity: 1; // Fully visible
  }
  20% {
    opacity: 0.7; // Fade to 70% opacity
  }
  40% {
    opacity: 0.3; // Fade to 30% opacity
  }
  60% {
    opacity: 0.5; // Fade back to 50% opacity
  }
  80% {
    opacity: 0.9; // Fade back to 90% opacity
  }
}

$small: 1440px;
$medium: 1441px;
@media screen and (min-width: $small) and (max-width: $medium) {
  .borderImageWrapper {
    height: 70px;
  }

  .clockTime {
    font-size: 3.7rem;
 }

 .clockDate {
  font-size: 1.7rem;
 }
}