.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f6fa;
  padding-left: 1.0rem;
  padding-right: 1.0rem;
  min-height: 200px;
    //  background-color: var(--background-color);
}

.topBorder {
  position: absolute;
  top: -18px; // Move the border up by its height
  left: 0;
  right: 0;
  height: 20px; // Adjust this value based on your dome image height
  // background-image: url('../../assets/images/dome.png');
  background-repeat: repeat-x;
  background-size: auto 100%;
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
}

.horizontalContainer {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 2.0rem;
}

.prayerBoxWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1px;
}

.prayerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.borderImageWrapper {
  height: 155px;
  display: flex;
  align-items: center;
  // opacity: 0.9;
  margin: -1rem;
}

.borderImage {
  height: 100%;
  width: auto;
}

.clock {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Archivo Narrow', serif;
  color: var(--font-color);
}

.clockTime {
   font-size: 7.5rem;
   font-weight: bold;
   display: flex;
   flex-direction: row;
   margin-bottom: -1.7rem;
   margin-top: -1.5rem;
}

.clockDate {
  font-size: 3.3rem;
 }

 .blinkingSeparator {
  margin-top: -0.3rem;
  animation: heartbeatOpacity 1.9s ease-in-out infinite; 
}

@keyframes heartbeatOpacity {
  0%, 100% {
    opacity: 1; /* Start and end at 0.5 opacity */
  }
  25% {
    opacity: 0.1; /* Fade to 0.3 opacity */
  }
  50% {
    opacity: 0.9; /* Fade to 0.7 opacity */
  }
  75% {
    opacity: 0.2; /* Fade to 0.4 opacity */
  }
}

$small: 1440px;
$medium: 1441px;
@media screen and (min-width: $small) and (max-width: $medium) {
  .container {
      min-height: 100px;;
  }

  .borderImageWrapper {
    height: 70px;
  }

  .clockTime {
    font-size: 5.5rem;
 }

 .clock {
  width: 21%; 
 }

 .clockDate {
  font-size: 2.2rem;
 }
}