.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.topBorder {
  position: absolute;
  top: -18px; // Move the border up by its height
  left: 0;
  right: 0;
  height: 20px; // Adjust this value based on your dome image height
  background-image: url('../../assets/images/dome.png');
  background-repeat: repeat-x;
  background-size: auto 100%;
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
}

.testModeIndicator {
  font-size: 0.8em;
  color: #ff0000;
  margin-left: 10px;
}

.horizontalContainer {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.prayerBoxWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.prayerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prayerName {
  font-weight: bold;
  font-size: 0.9em;
}

.prayerTime {
  font-size: 1em;
}

.borderImageWrapper {
  height: 135px;
  display: flex;
  align-items: center;
}

.borderImage {
  height: 100%;
  width: auto;
}

.clock {
  min-width: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

$small: 1440px;
$medium: 1441px;
@media screen and (min-width: $small) and (max-width: $medium) {
  .borderImageWrapper {
    height: 70px;
  }
}