.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  padding: 0.5rem;
  color: #0984e3;
  font-size: 3.5rem;
  font-weight: 400;
}

.container.active {
  border-radius: 10px;
  background-color: #0984e3;
  font-weight: 500;
  color: #fff;
}

.nextPrayerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  padding: 0.5rem;
  color: #273c75;
  font-size: 3.5rem;
  font-weight: 500;
}

.time {
  font-size: 5.5rem;
  font-weight: 500;
}

$small: 1440px;
$medium: 1441px;
@media screen and (min-width: $small) and (max-width: $medium) {
  .container {
    font-size: 2.0rem;
  }

  .nextPrayerContainer {
    font-size: 2.0rem;
    font-weight: 500;
  }

  .time {
    font-size: 2.5rem !important;
  }
}