.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // color: #0984e3;
  color: black;
  font-size: 3.5rem;
  font-family: 'Archivo Narrow', serif;
  font-weight: 700;
  padding: 1rem;
}

.container.active {
  border-radius: 0px;
  // background-color: #0984e3;
  background-color: black;
  font-weight: 700;
  color: #fff;
  padding: 1rem;
}

.nextPrayerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  // color: #273c75;
  color: black;
  font-size: 3.5rem;
  font-family: 'Archivo Narrow', serif;
  font-weight: 700;
  font-style: italic;
  animation: heartbeatOpacity 5s ease-in-out infinite; /* Apply the heartbeat animation */
}

@keyframes heartbeatOpacity {
  0%, 100% {
    opacity: 0.9; /* Start and end at 0.5 opacity */
  }
  25% {
    opacity: 0.3; /* Fade to 0.3 opacity */
  }
  50% {
    opacity: 0.9; /* Fade to 0.7 opacity */
  }
  75% {
    opacity: 0.4; /* Fade to 0.4 opacity */
  }
}

.name {
  font-size: 3.7rem;
  margin-bottom: -1.5rem;
}

.time {
  font-size: 5.9rem;
  font-weight: 700;
}

$small: 1440px;
$medium: 1441px;
@media screen and (min-width: $small) and (max-width: $medium) {
  .container {
    font-size: 1.0rem !important;
  }

  .nextPrayerContainer {
    font-size: 1.0rem;
    font-weight: 700 !important;
    font-weight: 500;
  }

  .name {
    font-size: 2.5rem;
    margin-bottom: -0.5rem;
  }

  .time {
    font-size: 3.1rem !important;
    font-weight: 700 !important;
  }
}