.container {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 1090px;
  color: white;
  font-family: 'Archivo Narrow', serif;
  font-size: 3.7rem;
  overflow-y: auto; 
}

.eventBullet {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.eventContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.eventText {
  max-width: 1125px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dateContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.date {
  margin-right: 1rem;
  font-weight: 700;
}

.repeatsContainer {
  display: flex;
  flex-direction: row;
}

.btn {
  text-transform: uppercase;
  font-weight: bold;
  height: 37px;
  padding-left: 1rem;
  padding-right: 1rem;
}

$small: 1440px;
$medium: 1441px;
@media screen and (min-width: $small) and (max-width: $medium) {
  .container {
    font-size: 1.5rem;
    max-height: 637px;
  }
  .eventText {
    max-width: 575px;
  } 

  .repeatsContainer {
    font-size: 1rem;
  }
}