.container {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
  font-family: 'Archivo Narrow', serif;
  font-size: 1.5rem;
}

.eventBullet {
  margin-bottom: 1rem;
}

.eventInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.eventInfoTexts {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.eventTitle {
  font-weight: bold;
  margin-right: 0.5rem;
}

.eventText {
  max-width: 575px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dateContainer {
  display: flex;
  flex-direction: row;
}

.date {
  margin-right: 1rem;
}