.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
  font-family: 'Archivo Narrow', serif;
  font-size: 1.5rem;
}

.eventBullet {
  margin-bottom: 1rem;
}

.eventInfoContainer {
  display: flex;
  flex-direction: row;
}

.eventTitle {
  font-weight: bold;
  margin-right: 0.5rem;
}