.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 1rem;
  font-family: 'Archivo Narrow', serif;
  animation: fadeIn 1.1s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Start fully transparent */
  }
  100% {
    opacity: 1; /* End fully opaque */
  }
}

.dateContainer {
  font-size: 7rem;
  font-weight: 700;
  border-bottom: 1pt solid grey;
  margin-bottom: 2.5rem;
}

.announcementText {
  margin-left: 3rem;
  margin-right: 3rem;
  font-size: 7rem;
}

$small: 1440px;
$medium: 1441px;
@media screen and (min-width: $small) and (max-width: $medium) {
  .dateContainer {
    font-size: 3.5rem;
  }
  .announcementText {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 3.5rem;
  }
}