.container {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  font-family: 'Archivo Narrow', serif;
}

.form {
  width: 100%;
  font-size: 1.5rem;

}

.formField {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.formLabel {
  width: 10%;
}

.formInput {
  font-size: 1.5rem;
  min-width: 535px;
  font-family: monospace;
}

.formCheckboxLabel{
  display: flex;
  flex-direction: row;
}

.formButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 1.5rem;
  padding-right: 3.3rem;
}

.submitBtn {
  font-size: 1.2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 1rem;
}