.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 1rem;
  color: white;
  animation: fadeIn 1.1s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Start fully transparent */
  }
  100% {
    opacity: 1; /* End fully opaque */
  }
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1150px;
}

.timeUnit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 975px;
}

.digits {
  font-size: 37rem;
  font-weight: bold;
  font-family: 'Archivo Narrow', serif;
}

.separator {
  font-family: 'Archivo Narrow', serif;
  font-weight: 700;
  font-size: 12rem;
  padding-bottom: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

$small: 1440px;
$medium: 1441px;
@media screen and (min-width: $small) and (max-width: $medium) {
  .digits {
    font-size: 25rem;
  }
}
