.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 1rem;
  color: white;
  animation: fadeIn 1.1s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Start fully transparent */
  }
  100% {
    opacity: 1; /* End fully opaque */
  }
}

.message {
  padding-top: 9rem;
  display: flex;
  align-items: center;
  font-size: 3.0rem;
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1150px;
}

.timeUnit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 975px;
}

.digits {
  font-size: 37rem;
  font-weight: bold;
  font-family: 'Archivo Narrow', serif;
}

.label {
  width: 295px;
  height: 35px;
  margin-top: -1.5rem;
  font-size: 5.7rem;
  font-weight: 500;
  border-radius: 7px;
  //background-color: lightsteelblue;
  color: white;
  opacity: 0.5;
  text-align: center;
  border-top: 1px solid white;
  padding-top: 1rem;
}

.separator {
  font-family: 'Archivo Narrow', serif;
  font-weight: 700;
  font-size: 12rem;
  padding-bottom: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

$small: 1440px;
$medium: 1441px;
@media screen and (min-width: $small) and (max-width: $medium) {
  .digits {
    font-size: 15rem;
  }
}