.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  animation: fadeIn 1.1s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Start fully transparent */
  }
  100% {
    opacity: 1; /* End fully opaque */
  }
}

.rowContainer {
  width: 100%;
  min-height: 225px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Archivo Narrow', serif;
  font-size: 9.0rem;
}

.prayerName {
  min-width: 475px;
  padding-left: 2rem;
  font-family: 'Archivo Narrow', serif;
}

.prayerTime {
  min-width: 255px;
  font-weight: 600;
  text-align: center;
} 

.decorationSun {
  width: 75px;
  height: 65px;
  background-image: url('../../assets/images/sun.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
}

.decoration {
  width: 65px;
  height: 55px;
  background-image: url('../../assets/images/decoration.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
}

.emptyDecoration {
  min-width: 65px;
}

$small: 1440px;
$medium: 1441px;
@media screen and (min-width: $small) and (max-width: $medium) {
  .rowContainer {
    font-size: 5rem;
  }

  .prayerName {
    min-width: 275px;
    padding-left: 1rem;
  }
}