.container {
  margin-top: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:  white;
  animation: fadeIn 1.1s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Start fully transparent */
  }
  100% {
    opacity: 1; /* End fully opaque */
  }
}

.table {
  font-size: 13.0rem;
  width: 100%;
  border-collapse: collapse;
  font-family: 'Archivo Narrow', serif;
}

.table td {
}

.table .wideTime {
  width: 17%; /* 1/4 of the total width for columns 1, 2, 4, and 5 */
  text-align: left;
  padding-left: 1rem;
  font-weight: 700;
}

.table .wide {
  padding-left: 3rem;
  width: 25%; /* 1/4 of the total width for columns 1, 2, 4, and 5 */
}

.table .wideTimeNext {
  width: 17%; /* 1/4 of the total width for columns 1, 2, 4, and 5 */
  text-align: left;
  padding-left: 1rem;
  font-weight: 700;
  animation: heartbeatOpacity 2.3s ease-in-out infinite; /* Apply the heartbeat animation */
}

.table .wideNext {
  padding-left: 3rem;
  width: 25%; /* 1/4 of the total width for columns 1, 2, 4, and 5 */
  animation: heartbeatOpacity 2.3s ease-in-out infinite; /* Apply the heartbeat animation */

}

@keyframes heartbeatOpacity {
  0%, 100% {
    opacity: 0.9; /* Start and end at near full opacity */
  }
  30% {
    opacity: 0.3; /* First peak (end of "doop") */
  }
  70% {
    opacity: 0.9; /* Fading out before the next beat */
  }
}

.table .narrow {
  width: 5%; /* Narrow width for the middle column */
  text-align: center; /* Center align content horizontally */
}

.decorationSunrise {
  width: 75px;
  height: 65px;
  background-image: url('../../assets/images/sunrise.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
}

.decorationSun {
  width: 75px;
  height: 65px;
  background-image: url('../../assets/images/sun.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
}

.decorationMoon {
  width: 35px;
  height: 25px;
  background-image: url('../../assets/images/moon.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
}
.emptyDecoration {
  min-width: 65px;
}

$small: 1440px;
$medium: 1441px;
@media screen and (min-width: $small) and (max-width: $medium) {
  .table {
    font-size: 6.5rem;
  }
}