.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 1rem;
  color: white;
}

.message {
  padding-top: 9rem;
  display: flex;
  align-items: center;
  font-size: 3.0rem;
}

.countdown {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -5rem;
}