.topButtons {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 99%;
  color: var(--primary-color);
  font-family: 'Archivo Narrow', serif;
  font-size: 0.7rem;
}

.version {
  font-size: 0.75rem;
  display: flex;
  flex-direction: row;
  margin-left: 0.2rem;
  text-transform: uppercase;
}

.btnDev {
  text-transform: uppercase;
  font-size: 0.7rem;
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--primary-color);
}
