.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 0.5;
  padding: 0.3rem;
  font-family: 'Archivo Narrow', serif;
}

.topButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.version {
  display: flex;
  flex-direction: row;
  margin-left: 0.2rem;
  text-transform: uppercase;
}

.btnDev {
  text-transform: uppercase;
  border: none;
  background: transparent;
  color: var(--primary-color);
  cursor: pointer;
}
