.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  color:#0984e3;
  justify-content: center;
  min-width: 255px;
  // font-family: 'Open Sans', 'Segoe UI', Tahoma, sans-serif;
}

.testClock {
  min-width: 255px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  color: red;
}

.date {
  font-size: 2.0rem;
  font-weight: 400;
}

.time {
  font-size: 5.0rem;
  font-weight: 500;
}

$small: 1440px;
$medium: 1441px;
@media screen and (min-width: $small) and (max-width: $medium) {
  .container {
    min-width: 155px;
  }
  .date {
    font-size: 1.4rem;
  }

  .time {
    font-size: 3.7rem !important;
  }
}