.container {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

.testButton {
  padding: 5px;
  min-width: 275px;
  font-size: 1.5rem;
  margin: 3.5px;
  font-family: monospace;
}

.testButtonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

$small: 1440px;
$medium: 1441px;
@media screen and (min-width: $small) and (max-width: $medium) {

}