.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  font-family: monospace;
}

.testButton {
  min-width: 175px;
  font-size: 10px;
  margin: 3px;
}

.paramsContainer {
  width: 50%;
  margin: 2rem;
  margin-top: 20px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.testButtonsContainer {
  width: 50%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

$small: 1440px;
$medium: 1441px;
@media screen and (min-width: $small) and (max-width: $medium) {

  .paramsContainer {
    font-size: 16px;
  }


  .testButton {
    font-size: 18px;
    padding: 0.5rem 1rem;
  }
}