.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -7rem;
  width: 1055px;
}

.subsecond {
  color: silver;
}

.hour
{
  /* color: #273c75; */
  /* color: #009432; */
  color: black;
  z-index: 100;
}

.minute {
  /* color: #273c75; */
  /* color: #009432; */
  color: #2f3640;
  z-index: 100;
}

.second {
  /* color: #0984e3; */
  color: #f1c40f;
  z-index: 100;
}

#clock-logo {
  transition: transform 0.2s ease;
  z-index: -10; 
}

$small: 1440px;
$medium: 1441px;
@media screen and (min-width: $small) and (max-width: $medium) {
  .clock {
    margin-top: 0rem;
    width: 575px;
  }
}