.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 785px;
}

.subsecond {
  color: silver;
}

.hour
{
  /* color: #273c75; */
  /* color: #009432; */
  color: black;
  z-index: 100;
}

.minute {
  /* color: #273c75; */
  /* color: #009432; */
  color: #2f3640;
  z-index: 100;
}

.second {
  /* color: #0984e3; */
  color: #e67e22;
  z-index: 100;
}

#clock-logo {
  transition: transform 0.2s ease;
  z-index: -10; 
}