@font-face {
  font-family: 'Archivo Narrow'; /* Choose a name for your font */
  src: url('./assets/fonts/ArchivoNarrow-VariableFont_wght.ttf') format('truetype'); /* Path to the variable font file */
  font-weight: 100 900; /* Specify the range of font weights for the variable font */
  font-style: normal; /* Specify the font style for normal */
}

@font-face {
  font-family: 'Archivo Narrow'; /* Use the same font-family name */
  src: url('./assets/fonts/ArchivoNarrow-Italic-VariableFont_wght.ttf') format('truetype'); /* Path to the italic variable font file */
  font-weight: 100 900; /* Specify the range of font weights for the variable font */
  font-style: italic; /* Specify the font style for italic */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
