@font-face {
  font-family: 'Archivo Narrow'; /* Choose a name for your font */
  src: url('./assets/fonts/ArchivoNarrow-VariableFont_wght.ttf')
    format('truetype'); /* Path to the variable font file */
  font-weight: 100 900; /* Specify the range of font weights for the variable font */
  font-style: normal; /* Specify the font style for normal */
}

@font-face {
  font-family: 'Archivo Narrow'; /* Use the same font-family name */
  src: url('./assets/fonts/ArchivoNarrow-Italic-VariableFont_wght.ttf')
    format('truetype'); /* Path to the italic variable font file */
  font-weight: 100 900; /* Specify the range of font weights for the variable font */
  font-style: italic; /* Specify the font style for italic */
}

@font-face {
  font-family: 'ScheherazadeNew-Bold'; /* Use the same font-family name */
  src: url('./assets/fonts/ScheherazadeNew-Bold.ttf') format('truetype'); /* Path to the italic variable font file */
  font-weight: 700;
  font-style: normal; /* Specify the font style for italic */
}

:root {
  --font-color: white;
  --primary-color: #ffffff; // Default color for light theme
  --background-color: #000000; // Default background for light theme
}

.black-white-theme {
  --primary-color: #ffffff; // Text color for dark theme
  --font-color: #000000; // Text color for blue theme
  --background-color: #000000; // Background color for dark theme
}

.blue-white-theme {
  --primary-color: #ffffff; // Text color for blue theme
  --font-color: #0984e3; // Text color for blue theme
  --background-color: #0984e3; // Background color for blue theme
}

.pink-tiffany-theme {
  --primary-color: #ffffff; // Text color for blue theme
  --font-color: #ff7979; // Text color for blue theme
  --background-color: #30e0e0; // Background color for blue theme
}

.greengrass-flirtmaroon-theme {
  --primary-color: #ffffff; // Text color for blue theme
  --font-color: #940062; // Text color for blue theme
  --background-color: #009432; // Background color for blue theme
}

.greengrass-black-theme {
  --primary-color: #ffffff; // Text color for blue theme
  --font-color: black; // Text color for blue theme
  --background-color: #009432; // Background color for blue theme
}

.gold-darkblue-theme {
  --primary-color: #ffffff; // Text color for blue theme
  --font-color: #002079; // Text color for blue theme
  --background-color: #e1b12c; // Background color for blue theme
}

.forestblue-redwood-theme {
  --primary-color: #ffffff; // Text color for blue theme
  --font-color: #622f0a; // Text color for blue theme
  --background-color: #0a3d62; // Background color for blue theme
}

.red-monochromatic-theme {
  --primary-color: #ffffff; // Text color for blue theme
  --font-color: #b71540; // Text color for blue theme
  --background-color: #e51a50; // Background color for blue theme
}

.pinkglamour-monochromatic-theme {
  --primary-color: #ffffff;
  --font-color: #ff4646;
  --background-color: #ff4646;
}

.grey-monochromatic-theme {
  --primary-color: #ffffff;
  --font-color: #535c68;
  --background-color: #6a7584;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
